body {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    color: blue;
    background-color: brown;
}
aside {
    flex: 1;
}
