header {
position: relative;
width: 1103.41px;
height: 29.46px;
left: 171.59px;
top: 35.02px;
}
header nav ul {
position: relative;
width: 234px;
height: 15px;
left: 1041px;
top: 37px;
}
header nav img {   
position: relative;
width: 167.02px;
height: 29.46px;
left: 171.59px;
top: 35.02px;
}
